<%- model_class = Vent -%>

<%= content_for :breadcrumb do -%>
  <div class="span9">
    <ul class="breadcrumb">
      <% if parent? %>
        <li><%= link_to parent, parent %><span class="divider">/</span></li>
      <% end %>
      <li class="active">Vents</li>
    </ul>
  </div>
  <div class="span3 btn-group">
    <%= link_to "<span class=\"icon-bullhorn icon\"></span> Let It Out!".html_safe, [:new,parent,:vent], class: "btn-warning btn" if can? :create, Vent %>
  </div>
<% end -%>

<div class="page-header">
  <h1>Latest Vents</h1>
</div>

<%= render @vents %>