<h3>Welcome to Vent It Loud!</h3>

<p>This is a simple application that lets you rant, rave, complain, bitch, pontificate - whatever - as long as it's venting, you're in the right place.</p>

<p>Here's how it works:</p>
<ol>
  <li><%= link_to 'Sign up', new_user_registration_path %> if you haven't already</li>
  <li>Once you're signed up, you'll see a menu item above called "Vents." Click that and then click "Create New."</li>
  <li>Fill out the text box with whatever you want. Vulgarity is allowed. Hell, it's encouraged. If you don't want the world to know that this vent belongs to you, don't check the public box. But if you have stones, claim that bad boy.</li>
  <li>Click "Create vent."</li>
</ol>

<p>That's it!</p>

<p>Now, you can share you vent if you want to or check out other people's vents and share them, too.</p>

<p>You also can rate and comment on vents.</p>

<p>And please email us at ventitloud at gunnertech.com with suggestions for improvement!</p>
